body {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	margin: auto;
}

img {
	max-width: 100%;
	width: 150px;
	height: 200px;
}

header {
	text-align: center;
}

a {
	color: #5d6652;
}

#heroImage {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Forest.jpg');
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

#navBar {
	overflow: hidden;
	background-color: #5d6652;
}

#navBar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

#navBar a.active {
	background-color: #313a2c;
	color: white;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + body {
	padding-top: 60px;
}

article {
	padding: 1em;
	background: white;
	box-shadow: 0 0 1em #000019;
	box-shadow: 25px 25px 60px grey;
	text-align: center;
}

.newsHeader, .eventHeader {
	border-radius: 25px;
}

#myFooter {
	background-color: #5d6652;
	padding: 20px;
	left: 0;
	bottom: 0;
	color: white;
	text-align: center;
	line-height: 50px;
}

#myFooter a, #myFooter h4 {
	color: white;
}

#myFooter ul {
	list-style-type: none;
}

.newsImg, .newsContent {
	width: auto;
	height: 500px;
}

.newsImg {
	display: none;
}

.newsImg img {
	width: 400px;
	height: 460px;
	border-radius: 100px;
}

/*Mobile Grid*/
.grid-container {
	display: grid;
	grid-template-columns: auto;
	margin: auto;
	width: 80%;
	padding: 16px;
	gap: 1em;
	min-height: 100%;
}

.footerContainer {
	display: grid;
	grid-template-columns: auto;
	margin: auto;
}

/*Desktop Grid*/
@media screen and (min-width: 992px) {
	.grid-container {
		grid-template-columns: repeat(12, 7%);
	}
		.intro {
			grid-column: -1/1;
		}
		.newsHeader {
			grid-column: -1/1;
		}
		.newsImg {
			grid-column: 1/7;
			display: inline;
		}
		.newsContent {
			grid-column: 7/13;
		}
		.newsContent p {
			padding: 25px;
			line-height: 37px;
		}
		.eventHeader {
			grid-column: -1/1;
		}
			.event1 {
				grid-column: 3/7;
			}
			.event2 {
				grid-column: 7/11;
			}
		.hostEvent {
			grid-column: 2/12;
		}
	.footerContainer {
		grid-template-columns: repeat(3, auto);
	}
	#myFooter {
		grid-column: 1/4;
	}
		.col1 {
			grid-column: 1/2;
		}
		.col2 {
			grid-column: 2/3;
		}
		.col3 {
			grid-column: 3/4;
		}
}