/*This is an example of a tag selector*/
body {
	font-family: 'Montserrat', sans-serif;
	/*This is an example of margins*/
	margin: auto;
	text-align: center;
}
/*This is an example of a tag selector*/
img {
	max-width: 100%;
	width: 500px;
	height: 200px;
}
 
/*Image source=https://media-cdn.tripadvisor.com/media/photo-m/1280/14/10/30/15/vilnius.jpg*/
#hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/vilnius.jpg');
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

/*This is an example of a class selector*/
.hero-text {
	color: white;
}

/*Navigation Bar*/
/*This is an example of a ID selector*/
#navbar {
	overflow: hidden;
	background-color: #A87A65;
}
/*This is an example of a ID selector*/
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	/*This is an example of padding*/
	padding: 14px;
	text-decoration: none;
}
/*This is an example of a compound selector*/
#navbar a.active {
	background-color: #A15C41;
	color: white;
}

/*Sticky Navbar*/
/*This is an example of a class selector*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .grid-container {
	padding-top: 60px;
}

/*Shadow behind articles*/
article {
	/*This is an example of padding*/
	padding: 1em;
	background: white;
	box-shadow: 0 0 1em #000019;
	box-shadow: 25px 25px 60px grey;
}

/*Article Headers*/
#toDo, #news, #contactHeader, #contactForm {
	/*This is an example of borders*/
	border: 2px solid black;
	border-radius: 15px;
	background-color: #A87A65;
	opacity: 0.75;
}

.moreToDo {
	text-align: left;
}

/*Star Rating*/
.checked {
	color: orange;
}

/*Footer Contact*/
.contactFooter {
	height: 100%;
}

/*Contacts*/
/*This is an example of a group selector*/
.pageAddress, .pageEmail, .pagePhone {
	background-color: #A15C41;
	color: white;
	border-radius: 25px;
	height: 100px;
}
/*This is an example of a ID selector*/
.pageEmail a {
	color: white;
}

/*Form*/
#userForm {
	color: white;
    background: #A15C41;
	text-align: left;
}
	
.row {
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 50%
}

input {
	width: 100%;
	padding: 12px 20px;
	/*This is an example of margins*/
	margin: 8px 0;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	height: 60px;
	padding: 12px 20px;
	box-sizing: border-box;
	/*This is an example of borders*/
	border: 2px solid white;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
}

select {
	width: 100%;
	padding: 16px 20px;
}

input[type=submit] {
	background-color: #A87A65;
	border: 1px solid white;
	color: white;
	padding: 16px 32px;
	width: 200px;
}

/*Base (Mobile) Grid*/
.grid-container {
	display: grid;
	grid-template-columns: 100%;
	width: 80%;
	margin: auto;
	padding: 16px;
	gap: 1em;
}

.contactUs-container {
	display: grid;
	grid-template-columns: 100%;
	width: 80%;
	margin: auto;
	padding: 16px;
	gap: 1em;
}

/*Tablet Grid*/
@media screen and (min-width: 768px) {
	.grid-container {
		grid-template-columns: repeat(6, auto);
	}
	.contactUs-container {
		grid-template-columns: repeat(6, auto);
	}
	#hero-image {
		grid-column: 1/7;
	}
	#navbar {
		grid-column: 1/7;
	}
	#headerText {
		grid-column: 1/7;
	}
	/*Things To Do*/
	#toDo {
		grid-column: 1/7;
	}
		.content1 {
			grid-column: 1/4;
		}
		.content2 {
			grid-column: 4/7;
		}
		.content3 {
			grid-column: 1/4;
		}
		.content4 {
			grid-column: 4/7;
		}
		.content5 {
			grid-column: 1/4;
		}
		.content6 {
			grid-column: 4/7;
		}
		.moreToDo {
			grid-column: 1/7;
		}
	/*News & Events*/
	#news {
		grid-column: 1/7;
	}
		.event1 {
			grid-column: 1/4;
		}
		.event2 {
			grid-column: 4/7;
		}
	/*Footer*/
	.contactFooter {
		grid-column: 1/7;
	}
	#contactHeader {
		grid-column: 1/7;
	}
		.pageAddress {
			grid-column: 1/3;
		}
		.pageEmail {
			grid-column: 3/7;
		}
		.pagePhone {
			grid-column: 1/7;
		}
	#contactForm {
		grid-column: 1/7;
	}
		.formText {
			grid-column: 1/7;
		}
		#userForm {
			grid-column: 1/7;
		}
	.addInfo {
		grid-column: 1/7;
	}
}

/*Desktop Grid*/
@media screen and (min-width: 992px) {
	.grid-container {
		grid-template-columns: repeat(12, 7%);
	}
	.contactUs-container {
		grid-template-columns: repeat(12, 7%);
	}
	#hero-image {
		grid-column: 1/13;
	}
	#navbar {
		grid-column: 1/13;
	}
	#headerText {
		grid-column: 1/13;
	}
	/*Things To Do*/
	#toDo {
		grid-column: 1/13;
	}
		.content1 {
			grid-column: 1/5;
		}
		.content2 {
			grid-column: 5/9;
		}
		.content3 {
			grid-column: 9/13;
		}
		
		.content4 {
			grid-column: 1/5;
		}
		.content5 {
			grid-column: 5/9;
		}
		.content6 {
			grid-column: 9/13;
		}
		
		.moreToDo {
			grid-column: 1/13;
		}
	/*News & Events*/
	#news {
		grid-column: 1/13;
	}
		.event1 {
			grid-column: 2/7;
		}
		.event2 {
			grid-column: 7/12;
		}
	/*Footer*/
	.contactFooter {
		grid-column: 1/13;
	}
	
	#contactHeader {
		grid-column: 1/13;
	}
		.pageAddress {
			grid-column: 1/5;
		}
		.pageEmail {
			grid-column: 5/9;
		}
		.pagePhone {
			grid-column: 9/13;
		}
	#contactForm {
		grid-column: 1/13;
	}
		.formText {
			grid-column: 1/13;
		}
		#userForm {
			grid-column: 1/13;
			width: 950px;
		}
	.addInfo {
		grid-column: 1/13;
	}
}